{$CADDY_HOST:finanzquest.app} {
	# 10MB upload limit
	request_body {
		max_size 10MB
	}

	handle /auth/v1/* {
		uri strip_prefix /auth/v1
		reverse_proxy auth:9999
	}

	handle /rest/v1/* {
		uri strip_prefix /rest/v1
		reverse_proxy rest:3000
	}

	# Frontend (catch-all)
	handle {
		reverse_proxy frontend:3000 {
			fail_duration 5s
		}
	}
}

# :80 {
#     handle /auth/v1/* {
#         uri strip_prefix /auth/v1
#         reverse_proxy auth:9999
#     }

#     handle /rest/v1/* {
#         uri strip_prefix /rest/v1
#         reverse_proxy rest:3000
#     }

#     handle {
#         reverse_proxy frontend:3000 {
#             fail_duration 5s
#         }
#     }
# }
