include:
  - compose.core.yml
services:
  frontend:
    container_name: frontend
    networks:
      - postgres
    restart: unless-stopped
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://0.0.0.0:3000/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
      target: dev
      args:
        - NODE_ENV=production
    depends_on:
      db:
        condition: service_healthy
      gotrue:
        condition: service_healthy
      rest:
        condition: service_started
    environment:
      API_URL_SERVER: http://gateway:80 # 8080 outside, 80 internally
      API_URL_CLIENT: http://localhost:8080 # 8080 outside, 80 internally
      JWT_SECRET: $JWT_SECRET
